{{outlet}}

<div class="header">
  <h1>Blog</h1>
  <span class="nav-items">{{#link-to 'about'}}About{{/link-to}}</span>
  <span class="nav-items">{{#link-to 'contact'}}Contact{{/link-to}}</span>
  <span class="nav-items">{{#link-to 'index'}}Home{{/link-to}}</span>

</div>
